body {
  font-family: sans-serif; 

}
h1 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 0px;
  letter-spacing: -3px;
}
#date{
  margin-bottom: 40px;
  text-align: center;

}
#from
{
  font-size: 20px;
}

#to
{
  font-size: 20px;
}

#name
{
  font-size: 45px;
  font-weight: bold;
  letter-spacing: -2px;
}

#contact
{
  margin-left: 3px;
  font-size: 13px;
}

#time_period {
  font-size: 18px;
}

#day{
  font-size: 18px;
  font-weight:bold;
}

#desc-title{
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px dotted;
}
#quantity-title{
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px dotted;
  text-align: center;
}

#desc {
  margin-top: 5px;
}

#time{
  text-align: left;
  margin-top: 5px;
  padding-left: 225px;
}

#total{
  margin-top: 10px;
  border-top: 1px dotted;
}

#total .text {
  margin-top: 10px;
  text-align: right;
  font-weight: bold;
}

#total .price {
  margin-top: 10px;
  padding-left: 45px;
}

.container_16
{
  margin-left: 150px;
}
