%html
  %head
    <link rel="stylesheet" type="text/css" href="960.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
  %body

    .container_16
      .grid_5.prefix_12
        %h1
          INVOICE
        #date
          \#00001 • July 1, 2009
      .grid_9
        #from
          from:
        #name
          Phillip Mendonça-Vieira
        #contact
          (416) 627-3393 • phillmv@okayfail.com • 42 Dubray Ave, M3K1V5 Toronto, ON
      .grid_7
        #to
          to:
        #name
          The Mark News
        #contact
          192 Spadina Avenue, Suite 507, M5R2C2 Toronto, ON

      .grid_16
        %br/
        %br/
        #period
          from April 30, 2009 to May 13, 2009
      #title.grid_12
        %br/
        Description
      #title.grid_2
        %br/
        Quantity
      .grid_16
        %br/
        #day
          April 30
      .grid_9
        #desc
          Set up, internet troubleshooting
      .grid_3.prefix_2
        #time
          4 hours
      
